@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

.home {
    background: rgb(0, 0, 0);
    color: white;
    width: 100%;
    height: 110vh;
    display: flex;
    flex-direction: column;
}

/* top row section */
.carousel-container {
    width: 80%;
    height: 40vh;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    border-radius: 50px;
}

.image {
    object-fit: cover;
    width: 100%;
}

/* bottom row section */
.row-container {
    display: flex;
    width: 80%;
    margin: 5vh auto 0 auto;
}

.row-item {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
    flex-direction: column;
}

.row-image {
    max-width: 100%;
    height: auto;
    object-fit: contain;
    border-radius: 50px;
}

.row-text {
    text-align: center;
    font-size: 1.2em;
}

/* buton row */
.btn-row {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5vh;
    gap: 25%;
}

.login-btn, .sign-up-btn {
    background-color: rgb(0, 0, 0);
    color: white;
    border: none;
    padding: 15px 30px;
    margin: 0 10px;
    border-radius: 25px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease , transform 0.3s ease;
}

.login-btn:hover, .sign-up-btn:hover {
    background-color: rgb(255, 255, 255);
    color: black;
    transform: scale(1.05);
    border: none;
}